[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "core/client"]
	path = core/client
	url = https://github.com/yo1dog/Ghost-Admin
[submodule "content/themes/casper-custom"]
	path = content/themes/casper-custom
	url = https://github.com/yo1dog/Casper
